{% extends "base.html" %}

{% block content %}


{% if request.user.is_authenticated %} 
{% for message in chat_messages %}

<div><span class="color-gray"> {{message.created_at}} </span> {{message.author}}: <i>{{message.text}}</i></div>
{% endfor %}
<form action="/chat/" method="post">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" name="textmessage" type="text" id="sample3" />
    <label class="mdl-textfield__label" for="sample3">Text...</label>
  </div>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Send</button>
</form>
{% else %}
<h1>You are not logged in</h1>
<p>Bitte logge Dich ein: <a href="/login/">Login</a></p>
{% endif %}

{% endblock %}